.pages {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.page-buttons {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  color: #171A1F;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background: transparent;
}

.page-buttons.disabled {
  font-weight: 200;
}

.page-buttons.active {
  background: #1E2128;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
}